<tr class="span10" style="border-width:2px;">   
	<td style="width: 20%; text-align: center;">{{name}}</td>
	<td style="width: 20%; text-align: center;">{{days}}</td>
	<td style="width: 20%; text-align: center;">{{startTime}} - {{endTime}} </td>
	<td style="width: 20%; text-align: center;">{{instructor}}</td>
	<td style="width: 20%; text-align: center;">{{location}}</td>
</tr>

{{yield}}